version: "3.8"
services:
  service:
    build: ../service
    container_name: ml_service
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    depends_on:
      - minio

  minio:
    image: minio/minio:latest
    container_name: ml_minio
    environment:
      MINIO_ROOT_USER: minioaccess
      MINIO_ROOT_PASSWORD: miniosecret
    command: server /data
    ports:
      - "9000:9000"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
