apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ml-service
  template:
    metadata:
      labels:
        app: ml-service
    spec:
      containers:
      - name: api
        image: ml-service:latest
        imagePullPolicy: Never
        env:
          - name: MINIO_URL
            value: http://minio:9000
          - name: APP_HOST
            value: "0.0.0.0"
          - name: APP_PORT
            value: "8000"
          - name: ENV
            value: "development"
          - name: MINIO_ENDPOINT
            value: "minio:9000"
          - name: MINIO_ACCESS_KEY
            value: "minioadmin"
          - name: MINIO_SECRET_KEY
            value: "minioadmin"
          - name: S3_ENDPOINT
            value: "http://minio:9000"
          - name: S3_ACCESS_KEY
            value: "minioaccess"
          - name: S3_SECRET_KEY
            value: "miniosecret"
          - name: S3_BUCKET
            value: "ml-models"
          - name: S3_REGION
            value: "us-east-1"
          - name: DVC_REMOTE_URL
            value: "s3://ml-bucket/dvc"
          - name: CLEARML_API_HOST
            value: "http://apiserver:8008"
          - name: CLEARML_WEB_HOST
            value: "http://webserver:8080"
          - name: CLEARML_FILES_HOST
            value: "http://fileserver:8081"
          - name: CLEARML_API_ACCESS_KEY
            value: "9CXAVH3WU7F2DSL7S26UYCK86TANKG"
          - name: CLEARML_API_SECRET_KEY
            value: "42uvc3LInfYHymmvNyxKBV0lIk8nw7eElBuq7ovJWsMPAJ0-fiqcT0hztXU_v61NsF8"

        ports:
          - containerPort: 8000
        volumeMounts:
          - name: data
            mountPath: /app/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: ml-service
spec:
  type: NodePort # для minikube dev, можно LoadBalancer
  selector:
    app: ml-service
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30001
